<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Вы успешно зарегистрировались на сайте. <br>Добро пожаловать! </h1>
    <ol>
        {% for i in object_list %}
        <li>
            <h2>{{i.username}}</h2> - <em>{{i.email}}</em>

        </li>
        {% endfor %}
    </ol>
    <form action="{% url 'users:logout' %}">
        {% csrf_token %}
        <button type="submit">Выйти</button>
    </form>
</body>
</html>