<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>TV SHOWS</title>
</head>
<body>
    <h1>Видеоролики</h1>
    <ul>
        {% for i in shows %}
        <li>
            <h5>{{ i.title }}</h5>
            <h5>{{ i.description }}</h5>
            <a href="/show_list/{{ i.id }}/">Нажмите чтобы узнать подробности...</a>
        </li>
        {% endfor %}
    </ul>
</body>
</html>